<div class="address-group" ng-cloak>
    <div>
        <h4 class="panel-title-other"><strong>Offices</strong></h4>
    </div>
    <div ng-show="OAB.officeExists">
        <div class="list-group-item row" ng-repeat="address in OAB.addressbook.office">

            <div class="col-md-2 control-buttons lean-top-sm">
                <button type="button" class="btn btn-primary xs-margin hover-shadow" ng-click="OAB.openEditModal(address)"><span class="fa fa-pencil"></span></button>
                <button type="button" class="btn btn-danger xs-margin hover-shadow" ng-click="OAB.openDeleteAddress(address)"><span class="fa fa-trash-o"></span></button>
            </div>
            <div class="col-md-10 addresses hover-shadow hover-white xs-padding" ng-click="OAB.plotAddressOnMap(address)">
                <h4><strong>{{address.address1}}</strong></h4>
                <h4> {{address.city}}, {{address.state}} {{address.zipCode}}</h4>
            </div>
        </div>
    </div>
    <div ng-show="OAB.addressbook != null && !OAB.officeExists">
        <hr />
        <p class="sm-margin">
            You don't have any offices listed. Click <span class="cursor-pointer" ng-click="OAB.openAddAddressModal({addressType:2})"><strong>here</strong></span> to add one.
        </p>
    </div>
</div>
